<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://localhost:3000/faye/client.js"></script>
  <script type="text/javascript" src="javascripts/script.js"></script>
</head>

<body>	
  <form>
    <input type="text" id="new-message" placeholder="Your Message Here" />
    <input type="submit" id="submit-btn" value="Enter" />
  </form>
  <h4>Messages:</h4>
  <ul id="messages-list">
  </ul>
</body>
